{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action=""> <!-- POST:보안 적용 action: 폼에서 제출 했을때 실행 -->
        {% csrf_token %} <!-- 보안 token-->
        {{jss_form.as_p}} <!--p로 폼 감싸주기-->
        <input type="submit" value="확인">
    </form>

    글자수 : <div class="counted_text"></div>

    <script src="{% static 'js/count.js' %}"></script>
</body>
</html>